@charset "utf-8";
/* CSS Document */

#example1{
}

#example1 ul{
	list-style:none;
}
#example1 ul li{
	display:inline;	
	background:#fff;
	height:28px;
	margin:0 2px 0 0 ;
	border:1px solid #999;
	border-bottom:2px solid #eee;
	float:left;
	padding:1px 1px 0 1px
}

#example1 ul li.tabactive{

}

#example1 ul li a{
	display:block;
	float:left;
	background:#eee;
	height:100%;
	line-height:2;
	padding:0 10px 0 10px;
	cursor:pointer;
}

#example1 ul li a.tabactive{
	color:#000;
}

#example1 ul li a:hover{
	color:#690;
}

.menu{
	background:none;
	height:30px;
}
.area{
	background:#fff;
	border:1px solid #999;
	padding:1px;
}

.tabcont{
	background:#fff;
	border:1px solid #999;
	padding:1px;
}
.space{
	padding:10px;
	background:#eee;
}